[[source]]
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
seaborn = "*"
numpy = "*"
matplotlib = "*"
pandas = "*"
jupyter = "*"
sklearn = "*"
jinja2 = "*"
flake8 = "*"
bandit = "*"
mypy = "*"
loguru = "*"
fire = "*"
category-encoders = "*"
pytest = "*"

[requires]
python_version = "3.7"
